.brand-logo {
  margin-left: 30px;
}

/* .nav-wrapper {
  background-color: #6f4037;
} */

.transparent {
  position: absolute;
  z-index: 999999999;
}

.slider .indicators .indicator-item.active {
  background-color: #6f4037 !important;
}

.hub {
  margin-top: 60px;
  margin-bottom: 20px;
}

.parallax-container {
  min-height: 150px;
  height: auto;
}

.icon-coffee {
  color: #6f4037;
}

.footer-one {
  background: #6f4037;
}

.footer-two {
  background: #462822;
}
.side {
  text-align: center;
}
